.tab-content
{
    margin-top: 10px;
}

.tab-content.tab-content-active
{
}

.tab-content.tab-content-inactive
{
    display: none;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.panel-body
{
    overflow: hidden;
    max-height: 60vh;
}

p
{
    font-size: 12pt;
}

.navbar.navbar-center
{
    
}
