<div class="input-group input-group-lg">
    <span class="input-group-addon" id="basic-addon1">Source</span>
    <input ng-model="input.source" type="text" required class="form-control" placeholder="" aria-describedby="basic-addon1">
</div>
<br>
<div class="input-group input-group-lg">
    <span class="input-group-addon" id="basic-addon1">Name</span>
    <input ng-model="input.title" type="text" required class="form-control" placeholder="" aria-describedby="basic-addon1">
</div>

<br>
<button type="submit" ng-click="save(input)" class="btn-lg btn-default">Submit</button>
