<!-- views/pages/index.ejs -->
<!DOCTYPE html>
<html ng-app="windham">
    <head>
        <% include ../partials/head %>
    </head>

    <body>
        <% include ../partials/header %>
        <div class="container">
            <img src="http://cdn.leluso.com/gifs/nonsense/assropes.gif" class="img-responsive center-block"/>
            <h1 style="font-size: 64pt;" class="text-center">Uh oh</h1>
            <p class="text-center"><%- message %></p>
        </div>
    </body>
