<!-- views/pages/index.ejs -->
<!DOCTYPE html>
<html ng-app="windham">
    <head>
        <% include ../partials/head %>
    </head>

    <body>
        <% include ../partials/header %>
        <div class="container">
            <div style="margin-top: 15px;" data-input-type="url" class="input col-sm-10 col-md-10">
                <% include ../partials/panelizer %>
            </div>
        </div>
    </body>
