<!-- views/pages/index.ejs -->
<!DOCTYPE html>
<html ng-app="windham">
    <head>
        <% include ../partials/head %>
    </head>

    <body>
        <% include ../partials/header %>
        <div class="container">
            <ul class="nav nav-tabs nav-justified">
                <li role="presentation" onclick="displayTab(event)" class="active"><a href="#">Text</a></li>
            </ul>

            <% include ../partials/inputs/text %>
        </div>
    </body>
</html>
