<!-- views/pages/submit.ejs -->
<!DOCTYPE html>
<html ng-app="windham">
    <head>
        <% include ../partials/head %>
    </head>

    <body>
        <% include ../partials/header %>
        <div class="container" ng-controller="TabsController">
            <ul class="nav nav-tabs nav-justified" ng-click="displayTab($event)">
                <li data-content="text-input" role="presentation" class="tab active"><a href="#">Text</a></li>
                <li data-content="url-input" role="presentation" class="tab"><a href="#">Web Page</a></li>
                <li data-content="audio-input" role="presentation" class="tab"><a href="#">Audio</a></li>
                <li data-content="video-input" role="presentation" class="tab"><a href="#">Video</a></li>
                <li data-content="image-input" role="presentation" class="tab"><a href="#">Image</a></li>
                <li data-content="file-input" role="presentation" class="tab"><a href="#">File</a></li>
            </ul>

            <div class="tab-content tab-content-active" id="text-input">
                <% include ../partials/inputs/text %>
            </div>
            <div class="tab-content tab-content-inactive" id="url-input">
                <% include ../partials/inputs/url %>
            </div>
            <div class="tab-content tab-content-inactive" id="audio-input">
                <% include ../partials/inputs/audio %>
            </div>
            <div class="tab-content tab-content-inactive" id="video-input">
                <% include ../partials/inputs/video %>
            </div>
            <div class="tab-content tab-content-inactive" id="image-input">
                <% include ../partials/inputs/image %>
            </div>
            <div class="tab-content tab-content-inactive" id="file-input">
                <% include ../partials/inputs/file %>
            </div>
        </div>
    </body>
</html>
